@charset "UTF-8";

h1{
    font-family: "Lato", sans-serif;
    color: #f1f1f1;
    background-color: #36454F;
    height: 64px;
    font-size: 50px;
    text-align: center;
    top: 0px;
    margin:0px;
}

body {
    font-family: "Lato", sans-serif;
}

.main {
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 18px 30px;
    width: 80%;
    margin: auto;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 200px;
    border-radius: 50%;

  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }
