@charset "UTF-8";

h1{
    font-family: "Lato", sans-serif;
    color: #f1f1f1;
    background-color: #003478;
    height: 120px;
    font-size: 72px;
    text-align: left;
    text-indent: 10px;
    top: 0px;
    margin:0px;
}

body {
    font-family: "Lato", sans-serif;
}

img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 130px;
    width: 180px;

 }

 .logoutbtn {
    width: auto;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
  }

  .logoutbtn:hover{
    color: #818181;

  }

.topnav {
    margin-left: 180px;

}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #003478;
    overflow-x: hidden;
    padding-top: 100px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    padding-top: 10px;
}

.sidenav a:hover {
    color: #818181;
}

.main {
    margin-left: 180px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
