@charset "UTF-8";

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: 	#C0C0C0;
    height: 100px;
    font-size: 60px;
    text-align: center;
    letter-spacing: 8px;
    margin: 0px;
    padding: 10px;
    top: 0px;
    margin-top: 3%;
    margin-left: 180px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
 }

 /* Extra style for the cancel button (red) */
 .cancelbtn {
    width: auto;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
  }

  .cancelbtn:hover{
    color: #818181;

  }
.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: 	#C0C0C0;
    overflow-x: hidden;
    padding-top: 150px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    padding-top: 10px;

}
.sidenav a:hover {
    color: #818181;
}
.sidenav a:visited{
    display: none;
}

.main {
    margin-left: 180px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 0px;
    text-indent: 0.5em;
}
.main h2{
    margin-top: 4%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
